@font-face {
  font-family: 'Dudu';
  src: local('Dudu'), url(./fonts/Dudu.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'HelvetiHand';
  src: local('HelvetiHand'), url(./fonts/HelvetiHand.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

* {
  font-family: 'HelvetiHand';
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

#map-area {
  cursor: url('./assets/cursor.png'), auto;
}

#map-area:active {
  cursor: url('./assets/cursor_active.png'), pointer;
}
